<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1badc723-17e1-44d4-bfa2-1c19b6b63f6f/resourcegroups/grupo1/providers/Microsoft.Web/sites/backendWords20240102151934</ResourceId>
    <ResourceGroup>grupo1</ResourceGroup>
    <ApiResourceId>/subscriptions/1badc723-17e1-44d4-bfa2-1c19b6b63f6f/resourceGroups/grupo1/providers/Microsoft.ApiManagement/service/backendWordsapi/apis/backendWords</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://backendwords20240102151934.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f5c059b1-adf8-4480-854f-021fc3ea79aa</ProjectGuid>
    <MSDeployServiceURL>backendwords20240102151934.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>backendWords20240102151934</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$backendWords20240102151934</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>